.subtop{
    list-style-type: none;
    margin: 50px;
    border-radius: 15px;
    border: 1px solid;
    padding: 10px;
    height: 122px;
    width: 200px;
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
    
    


}

.suptop_menu{
    

}

.topic_title{
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   
  
    
}

.sidebar {
    font-family: "Roboto", sans-serif;
    width: 256px;
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #111111;
    padding: 24px;
    transition: all 0.3s;
    z-index: 1;
    margin: 0;
}
.sidebar .head {
    display: flex;
    gap: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #f6f6f6;

}
.SBicon {
    width: 44px;
    height: 44px;
    border-radius: 10%;
    overflow: hidden;
}
.SBicon img {
    width: 100%;
    object-fit: cover;
}
.SBdetails .name {
    font-size: 14px;
    font-weight: 500;
    color: #fff;
}
.SBnavigation {
    flex: 1;
}
.SBmenu .SBtitle {
    font-size: 10px;
    font-weight: 500;
    color: #cccccc;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.SBmenu li {
    position: relative;
    list-style: none;
    margin-bottom: 5px;
}
.SBmenu li a {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    font-weight: 500;
    color: #eeeeee;
    text-decoration: none;
    padding: 12px 8px;
    border-radius: 8px;
    transition: all 0.3s;
}
.SBmenu li > a:hover,
.SBmenu li > a:hover > i,
.SBmenu li.active > a {
    color: #000;
    background-color: #f6f6f6;

}
.SBmenu li.active .icon {
    color: #000;
}
.SBmenu li .icon {
    font-size: 20px;
    color: #fff;
    transition: all 0.3s;
}
.SBmenu li .txt {
    flex: 1;
}
.SBmenu li .arrow {
    font-size: 14px;
    transition: all 0.3s;
}
.SBmenu li.active .arrow {
    transform: rotate(180deg);
}
.SBmenu .sub-menu {
    display: none;
    margin-left: 20px;
    padding-left: 20px;
    padding-top: 5px;
    border-left: 1px solid #f6f6f6;

}
.SBmenu .sub-menu li a {
    padding: 10px 8px;
    font-size: 12px;
}
.SBmenu:not(:last-child) {
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 2px solid #f6f6f6;
}
.menu-toggle {
    position: absolute;
    left: 30px;
    top: 30px;
    width: 28px;
    height: 28px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #757575;
    border: 2px solid #f6f6f6;
    background-color: #fff;
}
.menu-toggle:hover i {
    color: #000;
}
.menu-toggle i {
    transition: all 0.3s;
}
.sidebar.active {
    width: 44px;
}
.sidebar.active .alex-details {
    display: none;
}
.sidebar.active .SBmenu .SBtitle {
    text-align: center;
}
.sidebar.active .SBmenu li .arrow {
    display: none;
}
.sidebar.active .SBmenu > li > a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sidebar.active .SBmenu > li > a .txt {
    position: absolute;
    left: 70px;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    border-radius: 4px;
    color: #ffffff;
    background-color: #000;
    opacity: 0;
    visibility: hidden;
}
.sidebar.active .SBmenu > li > a .txt::after {
    content: "";
    position: absolute;
    left: -5px;
    top: 20%;
    width: 20px;
    height: 20px;
    border-radius: 2px;
    background-color: #000;
    transform: rotate(45deg);
    z-index: -1;
}
.sidebar.active .SBmenu > li > a:hover .txt {
    left: 50px;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s;
}
.sidebar.active .SBmenu .sub-menu {
    position: absolute;
    top: 0;
    left: 20px;
    width: 200px;
    border-radius: 20px;
    padding: 10px 20px;
    border: 1px solid #f6f6f6;
    background-color: #fff;
    box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar {
    background-color: rgb(142, 142, 142);
    width: 8px;
    }

    ::-webkit-scrollbar-thumb {
    background-color: rgb(71, 71, 71);
    border-radius: 10px;
    }

    ::-webkit-scrollbar-track {
    background-color: transparent;
    }
    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        margin: 0;
        padding: 0;
    }   
    .main {
        display: flex;
        flex-grow: 1;
        flex-wrap: wrap;
        gap: 50px;
    }
    .content {
        flex-grow: 1;
    }
    .item {
        width: auto;
        border-radius: 10px;
        padding: 15px;
        box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.205);
        backdrop-filter: blur(6.9px);
    }
    
    .infoTxt {
        margin-left: 10px;
        font-size: large;
        color: #fff;
        font-weight: 500;
    }
    .button {
        background-color: #575757;
        border: none;
        color: white;
        padding: 15px 32px; 
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 4px; 
        transition-duration: 0.4s; 
    }

    .button:hover {
        background-color: rgb(207, 206, 206); 
        color: black; 
    }
    .header {
        position: relative;
        color: white;
        padding: 10px;
        text-align: center;
        height: 75px;
    }
    .header::before {
        content: "";
        background-image: url("https://i.ibb.co/SJ2Bk2C/New-Project-2.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
    .headerbox {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.69);
        z-index: 0;
    }
    .footer {
        height: 50px;
        background-color: #111111;
        color: white;
        text-align: center;
        padding: 10px;
        flex-shrink: 0;
        margin: 0;
    }
    .footer img {
        width: 32px;
        height: 32px;
        margin: 0 10px;
    }
    
